<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<section class="fullwidth-game" style="margin-bottom:10px;padding-bottom:30px">
<div class="row">
<div class="large-12 columns" style="text-align: center">
<div class="row">
<div class="large-12 medium-12 columns game-container" style="text-align: center">
<iframe style="max-width: 100%; margin-top: 40px;" src="https://192.168.56.103/ui/#/login" id="gameFrame" width="700" height="525" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
<div class="screenshot" style="margin-top: 20px; margin-bottom: 20px; display: none;">
<img style="max-height:200px:width:auto" width="256" height="256" src="https://i.987967.xyz/screenshot/43/i/20567_2ae8a71c64a6f476064ebc33485235d22c136a9b.png" alt="">
</div>
<button class="button large start-game" type="button" name="start" style="display: none;">Start Game</button>

<div id="extra_info"></div>
<div style="margin: 0px auto 0 auto;max-width: 728px">
</div>
<script>
                            $('#gameFrame').attr('src', '');
                            var save_id = '';
                            $('.start-game').click(function() {
                                $('#gameFrame').show().attr('src', '//www.retrogames.cc/embed/20567-metroid-fusion-u-gbanow.html').css('margin-top','40px').focus();
                                $('.screenshot').hide();
                                $('.start-game').hide();
                                $('.start-game-2').hide();
                                if (typeof ga != "undefined") {
                                    ga('send', {
                                        hitType: 'event',
                                        eventCategory: 'Games',
                                        eventAction: 'play',
                                        eventLabel: '20567'
                                    });
                                }
                            });

                            $('.start-game-2').click(function() {
                                $('#gameFrame').show().attr('src', '//www.retrogames.cc/embed/20567-metroid-fusion-u-gbanow.html?old=1').css('margin-top','40px').focus();
                                $('.screenshot').hide();
                                $('.start-game').hide();
                                $('.start-game-2').hide();
                                if (typeof ga != "undefined") {
                                    ga('send', {
                                        hitType: 'event',
                                        eventCategory: 'Games',
                                        eventAction: 'play',
                                        eventLabel: '20567'
                                    });
                                }
                            });

                                                        // $('.start-game').trigger('click');
                                                                                </script>
</div>
</div>
</div>
</div>
</section>